.features-heading {
    grid-column: span 6;
    align-self: center;
}
.feature-content {
    grid-column: span 6;
    align-self: center;
}
.features-heading h3{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}
.features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: 2rem;
}
@media screen and (max-width: 990px) {
    .features-heading,
    .feature-content {
        grid-column: span 12;
    }
    .gpt3__features-heading {
        margin: 0 0 2rem 0;
    }
}
@media screen and (max-width: 550px) {
    .gpt3__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}